// Wide screens
@include mediaXl {
  .home img {
    height: 350px;
    width: 350px;
  }

  .home .lg-heading {
    font-size: 4rem;
  }

  .home .sm-heading {
    font-size: 2rem;
  }
}

// Desktops and Laptops
@include mediaLg {
  .home img {
    height: 350px;
    width: 350px;
  }
}

// Tablets and small Laptops
@include mediaMd {
  .home {
    padding: 2rem;
    gap: 3rem;
    height: 70%;
  }

  .skewed {
    height: 70%;
  }

  .about {
    margin: 3rem;
  }

  .projects {
    padding: 0;
    margin: 2rem 0;

    .description h1 {
      margin-top: 3rem;
    }
  }

  .project-card {
    flex-direction: column;

    img {
      width: 100%;
    }

    .project-content {
      width: 100%;
      padding: 0;
      margin-top: 2rem;
    }
  }
}

// Smartphones
@include mediaSm {
  .menu-nav {
    right: -100%;
    flex-direction: column;
    padding: 1rem 0 .25rem 0;

    .nav-item {
      margin: 0 0 .5rem 0;
    }

    .nav-item.theme-cog {
      font-size: 1.5rem;
    }
  }

  .menu-btn {
    display: block;
  }

  .menu-nav.active {
    right: 0;
  }

  .theme-menu {
    top: 11rem;
    right: .5rem;
  }

  .theme-menu.visible .theme-select {
    width: 10rem;
  }

  .home {
    flex-direction: column;
    gap: 2rem;
    margin: 0 1rem;

    .lg-heading {
      line-height: 1.2;
    }
  }

  .skewed {
    height: 90%;
  }

  .about {
    margin: 4rem 0;
  }

  .projects {
    margin: 0 0 2rem;
  }

  .contact {
    margin: 3rem 0;
    padding: 0;

    h1 {
      margin: 1rem 0;
    }

    h2 {
      margin-right: .8rem;
    }

    form {
      .wrap-input {
        width: 100%;
      }
    }
  }
}