@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root, :root.dark, .theme-select.dark {
  --primary-color: #293241;
  --secondary-color: #82afdc;
  --tertiary-color: #0d1926;
  --accent-color: #EE6C4D;
  --primary-color-dark: #1f2631;
  --primary-text: #fff;
  --inverted-text: #000;
}

:root.light, .theme-select.light {
  --primary-color: #fefefe;
  --secondary-color: #6B705C;
  --tertiary-color: #0d1926;
  --accent-color: #A5A58D;
  --primary-color-dark: #e5e5e5;
  --primary-text: #0A0908;
  --inverted-text: #fff;
}

:root.fun, .theme-select.fun {
  --primary-color: #133e7c;
  --secondary-color: #ea00d9;
  --tertiary-color: #0d1926;
  --accent-color: #711c91;
  --primary-color-dark: #091833;
  --primary-text:#0abdc6;
  --inverted-text: #091833;
}

:root.experiment {
  --primary-color: #7a04eb;
  --secondary-color: #ff124f;
  --tertiary-color: #0d1926;
  --accent-color: #ff00a0;
  --primary-color-dark: #120458;
  --primary-text: #fff;
  --inverted-text: #000;
}

body {
  background-color: $primary-color-dark;
  color: $primary-text;
  height: 100vh;
  margin: 0;
  font-family: $sans-serif;
  line-height: 1.5;
  position: relative;
}

// Set up smart menu???
.menu-nav {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  padding: 1rem 2rem 1rem 0;
  background-color: $primary-color-dark;
  box-shadow: 2px 2px 16px $primary-color-dark;
  z-index: 10;
  transition: all ease .5s;

  .nav-link {
    color: $primary-text;
    font-family: $serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 0 1.5rem;
    transition: all ease .25s;
  }
}

.theme-cog {
  transform: rotate(-90deg);
  transition: transform ease .5s;
}

.theme-cog:hover {
  cursor:pointer;
  filter: brightness(50%);
  transform: rotate(90deg);
  transition: transform ease .5s;
}

// Might need an animation for this
.theme-menu {
  opacity: 0;
  position: fixed;
  top: 4rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $primary-color-dark;
  padding: .5rem 1rem;
  box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: .5);
  z-index: 20;
  transform: translateX(200%);
  transition: transform ease .5s;
}

.theme-menu.visible {
  opacity: 1;
  transform: translateX(0%);
  transition: transform ease .5s;

  .theme-select {
    width: 6rem;
    padding: .5rem;
    margin: .4rem 0;
    background: linear-gradient(90deg, $primary-color 20%, $secondary-color 40%, $accent-color 60%, $primary-color-dark 80%);
    color: $primary-text;
    border-radius: .5rem;
    border: 1px solid $secondary-color;
    font-family: $serif;
    font-size: 1rem;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: .2);
    text-transform: uppercase;
    will-change: transform;
    transition: filter ease .5s;

    &:hover {
      cursor: pointer;
      filter: brightness(80%);
    }
  }
}

.nav-item {
  position: relative;
}

.nav-item:hover .nav-link {
  filter: brightness(50%);
}

.nav-item.current .nav-link:before {
  content: "";
  z-index: -1;
  position: absolute;
  background-color: $accent-color;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60%;
  height: 40%;
  max-width: 100%;
  margin: 0 auto;
  transition: all ease-out 500ms;
}

.scroll-prompt {
  position: absolute;
  z-index: 10;
  bottom:  2rem;
  left:  2rem;
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  gap: 4rem;
  z-index: 5;

  img {
    border-radius: 50%;
    border: .5rem solid $secondary-color;
    height: 200px;
    width: 200px;
  }
}

.lg-heading {
  font-size: 3.5rem;

  span {
    color: $secondary-color;
  }
}

.sm-heading {
  font-family: $serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.icons {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;

  a {
    color: $primary-text;
    will-change: transform;
    transition: all ease .25s;

    &:hover {
      scale: 1.05;
    }
  }
}

.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $primary-color;
  z-index: 0;
  transform: skewY(-5deg);
  transform-origin: top left;
}

.about {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  place-content: center;
  z-index: 5;
  margin: 8rem 5rem;

  .about-heading {
    grid-column: 2;
    font-family: $sans-serif;
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  .about-text {
    grid-column: 2;
    font-family: $serif;
    font-size: 1.4rem;
    line-height: 1.4;
    margin: .5rem 0;

    a {
      color: $accent-color;
      transition: filter ease .25s;
    }

    a:hover {
      filter: brightness(125%);
    }
  }

  .icons {
    grid-column: 2;
  }
}

.projects {
  position: relative;
  margin: 2rem;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  z-index: 5;

  .description {
    grid-column: 2/ -2;
    margin: 2rem 0;

    h1 {
      font-family: $sans-serif;
      margin-bottom: 1rem;
    }

    p {
      font-family: $serif;
      font-size: 1.2rem;
    }
  }
}

.project-card {
  grid-column: 2 / -2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  border-bottom: solid 1px $accent-color;
  border-width: 60%;

  img {
    width: 40%;
    box-shadow: -11px 14px 20px 0px rgba(0,0,0,.4);
  }

  .project-content {
    padding: 0 4rem;
    width: 60%;

    h2 {
      margin-bottom: 1rem;
      color: $secondary-color;
      font-size: 2rem;
    }
    
    p {
      color: $primary-text;
      font-size: 1.1rem;
    }

    .project-links {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      a {
        color: $primary-text;
        background-color: $primary-color;
        padding: .5rem 1rem;
        margin: 1rem 1rem 0 0;
        text-decoration: none;
        border: 1px solid $secondary-color;
        transition: all .5s ease;

        &:hover {
          background-color: $secondary-color;
          color: $inverted-text;
        }
      }
    }
  }
}

.project-card:last-child {
  border-bottom: none;
}

.contact {
  position: relative;
  margin: 2rem;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  z-index: 5;

  h1, h2, .icons, form {
    grid-column: 2 / -2;
  }

  form {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1rem;

    .wrap-input {
      position: relative;
      width: 60%;
    }

    input[type="text"], input[type="email"], textarea {
      width: 100%;
      min-height: 2rem;
      margin: .25rem 0;
      padding: 1rem .25rem .5rem;
      // background-blend-mode: soft-light;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $accent-color;
      color: $primary-text;
      font-family: $sans-serif;
      font-size: 1.25rem;

      &:placeholder {
        opacity: .8;
        color: $primary-text;
      }
    }

    textarea {
      height: 10rem;
    }

    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 0%;
        height: 2px;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        -moz-transition: all .4s;
        transition: all .4s;
        background: $accent-color;
      }
    }

    input[type="text"] ~ span:before, input[type="email"] ~ span:before {
      bottom: 2px;
    }

    textarea ~ span:before {
      bottom: 8px;
    }

    input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
      outline: none;
    }

    input[type="text"]:focus ~ span:before, input[type="email"]:focus ~ span:before, textarea:focus ~ span:before {
      width: 100%;
    }

    // input[type="text"]:before, input[type="email"]:before, textarea:before  {
    //   position: absolute;
    //   display: block;
    //   bottom: 0;
    //   left: 0;
    //   content: '';
    //   width: 100%;
    //   height: 2px;
    //   background-color: $accent-color;
    // }

    // input[type="text"], input[type="email"] {
    //   border-bottom: 2px solid $accent-color;
    // }

    textarea {
      resize: none;
    }

    input[type="submit"] {
      background-color: transparent;
      color: $primary-text;
      border: 1px solid $accent-color;
      padding: .5rem 1.5rem;
      margin: 1rem 0;
      text-transform: uppercase;
      font-family: $serif;
      font-size: 1.5rem;
      transition: all .5s ease;

      &:hover {
        background: $primary-text;
        color: $primary-color-dark;
        border-color: $primary-text;
      }

      &:focus, &:focus-within, &:focus-visible {
        border: 1px dashed $accent-color;
        outline: none;
      }
    }
  }
}

.success {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 8fr 1fr 1fr;
  place-content: center;

  .message {
    grid-column: 3;

    h1 {
      text-align: center;
      margin-bottom: 1rem;
    }

    h2 {
      text-align: left;

      &:first-of-type {
        margin-bottom: 1.5rem;
      }
    }
  }
}

.hidden {
  display: none;
}

#main-footer {
  width: 100%;
  background: $primary-color;
  text-align: center;
  padding: .5rem;
}

@import 'mobile';













